// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/home/home';

body {
  background-color: color($colors, dark);
}

.version {
  bottom: 0;
  position: absolute;
  color: white;
  right: 0;
  font-size: 8px;
  padding: 3px;
}
