.toolbar-title {
  color: color($colors, light) !important;
}

.card {
  padding: 0;
  line-height: 0;
  text-align: center;
  background-color: color($colors, primary);
}

video {
  display: none;
}

ion-card {
  margin: 0 auto;
}
